@model FreeCycle.Models.OfrecerDonacion

@{
    ViewData["Title"] = "Offer Details";
}

<h1>Offer details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adress)
        </dd>
        <dt class="col-sm-2">
            Object Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.objeto)
        </dd>
        <dt class="col-sm-2">
            Object Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class="col-sm-2">
            User's name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Name)
        </dd>
    </dl>
</div>


<form asp-action="DetallesDeOfertasDeDonaciones" asp-route-UsuarioId="@ViewBag.UsuarioId ">

    <div>
        <input type="hidden" name="Email" value="@Html.DisplayFor(model => model.Usuario.Email)" />
    </div>

    <div>
        <input type="hidden" name="Id" value="@ViewBag.UsuarioId" />
    </div>

    <div>
        <input type="hidden" name="descripcion" value="@Html.DisplayFor(model => model.objeto)" />
    </div>

    <div class="form-group row">
        <div class="col-2">
            <input type="submit" value="Request!" class="btn btn-info btn-block" />
        </div>

    </div>


</form>

<br />
<div>
    The button will send an email to the donor and then you can communicate with him to process the donation.
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-2">
        <a asp-action="ListaDeOfrecerDonaciones" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-block">Back to list</a>
    </div>
</div>

