@model IEnumerable<FreeCycle.Models.OfrecerDonacion>

@{
    ViewData["Title"] = "Donation List";
}

<h1>Donation offers</h1>

<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Type to search">
</div>

<table class="table" id="offerstable">
    <thead>
        <tr>
            <th>
                Address
            </th>
            <th>
                Object description
            </th>
            <th>
                Object status
            </th>
            <th>
                User's name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objeto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Name)
                </td>
                <td>
                    <!-- Preguntarle a Kevin cómo mandar el Item.id hace que se sepa qué item es en la vista de Detalles-->
                    <a asp-action="DetallesDeOfertasDeDonaciones" asp-route-id="@item.Id" asp-route-UsuarioId="@ViewBag.UsuarioId">Offer details</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>
    // Write on keyup event of keyword input element
    $(document).ready(function () {
        $("#search").keyup(function () {
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#offerstable tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    });
</script>


<div class="row">
    <div class="col-2"> <a asp-controller="Home" asp-action="HomePage" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-block">Back to home</a></div>


</div>
