@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.flag == 2)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            Successful login
        </strong>
    </div>
}
@if (ViewBag.flag == 3)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            Donation request successfully registered
        </strong>
    </div>
}
@if (ViewBag.flag == 4)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            Donation offer successfully registered
        </strong>
    </div>
}
@if (ViewBag.flag == 5)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            An Email with your info has been sent to "@ViewBag.Email" succesfully, please wait until he emails you to deal the donation.
        </strong>
    </div>
}
@if (ViewBag.flag == 6)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            Your request has been deleted succesfully.
        </strong>
    </div>
}
@if (ViewBag.flag == 7)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            Your offer has been deleted succesfully.
        </strong>
    </div>
}

<div class="text-center"><img src="/Imagenes/FreeCycle.png" class="rounded-circle" height="162" width="377" /></div>


<br />

<div class="text-center">

    <br />

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-5">
            <a asp-controller="Donaciones" asp-action="SolicitudDonacion" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-lg btn-block">Ask for a Donation</a>
        </div>
        <div class="col-5">
            <a asp-controller="Donaciones" asp-action="ListaDeOfrecerDonaciones" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-lg btn-block">Take a Donation</a>
        </div>

        <div class="col-1">

        </div>
    </div>

    <br />


    <br />

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-5">
            <a asp-controller="Donaciones" asp-action="OfrecerDonacion" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-lg btn-block">Offer a Donation</a>
        </div>
        <div class="col-5">
            <a asp-controller="Donaciones" asp-action="ListaDeSolicitudesDeDonaciones" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-block btn-lg">Make a Donation</a>
        </div>
        <div class="col-1">

        </div>
    </div>

</div>

<script type="text/javascript">
    setTimeout(function () {
        // Closing the alert
        $(".alert-success").fadeTo(1500, 500).slideUp(500, function () {
            $(".alert-success").slideUp(500);
        });
        $(".alert-warning").fadeTo(1500, 500).slideUp(500, function () {
            $(".alert-warning").slideUp(500);
        });
        $(".alert-danger").fadeTo(1500, 500).slideUp(500, function () {
            $(".alert-danger").slideUp(500);
        });
    }, 600);
</script>
